body{
  background: url('images/bg.jpg');
}

ul {
  list-style: none;
  padding-left: unset;

}

a {
  text-decoration: none;
}


.nav--main .nav__item {
   background-color: #A63634;
   border-bottom: solid 3px #877676;
   height: 45px;
  `padding: 5px;
}

.nav--main .nav__link {
  color: #fff;

}

@media (min-width: 768px) {
.nav--main .nav__item:not(:last-child){
  margin-right: 10px;
}
}

#carousel {
  height: 365px;
  background: url('images/top-image.png') no-repeat -120px -120px;
  position: relative;
  overflow: hidden;
  border-bottom: solid 3px #877676;
}

#carousel::before {
  content: url('images/grid.png');
  opacity: .3;

}

#carousel > .logo {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

#news {
  margin-top: 50px;

}

#news article {
  background-color: white;
  padding: 20px;
  border-bottom: solid 3px #877676;
  text-align: center;

}

article > h2, time, p {
  text-align: left;
}

.btn-link {
  color: #A63634;

}

#skateboarders {
  margin-top: 50px;

}

#skateboarders img {
  min-width: 100%;
  min-height: 100%;

}

.skateboarder {
  border: solid 5px #fff;
  overflow: hidden;
  position: relative;
}

.skateboarder_lance {
 margin-right: 1.5rem;
}
.skateboarder_tommy {
  height: 100%;
}

.skateboarder span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

#skateboards {
  background-color: white;
  padding: 20px;
  margin-top: 50px;
  border-bottom: solid 3px #877676;
}

@media (max-width: 767px){
.skateboard-image > img {
  height: 95px;
  width: 400px;
  transform: translateX(8%);
}
}

@media (min-width: 768px) {
  .skateboard-image {
    transform-origin: top left;
    transform: rotate(90deg) translateY(-25%);
    height: 260px;
    width: 65px;
  }
}

@media (max-wdith: 767px) {
  .skateboard-image {
    background-color: red;
  }
}

#contact {
  background-color: white;
  margin: 50px 0;
  border-bottom: solid 3px #877676;
  /* height: 365px; */
}

.form, .contact-sheet {
  padding: 30px;
  position: relative;
}

.form > input {
  margin: 5px;
  width: 100%;
}

.form > textarea {
  margin: 5px;
  width: 100%;
}

.form > button {
position: absolute;
bottom: 30px;
right: 30px;
background-color: #A63634;
border-bottom: solid 3px #877676;
height: 45px;
width: 250px;
color: white;
}

.fa-facebook-f {
  background-color: #485793;
  padding: 10px;
  margin: 5px;
  color: #7882AE;
}

.fa-rss {
  background-color: #C39245;
  padding: 10px;
  margin: 5px;
  color: #D1AE71;
}

.fa-twitter {
  background-color: #718CC2;
  padding: 10px;
  margin: 5px;
  color: #95A6D0;
}

.fa-youtube {
  background-color: #A44134;
  padding: 10px;
  margin: 5px;
  color: #B96C64;
}

.icon--nav > li {
  color: white;
  text-align: right;
}

@media (max-width: 690px) {
  .form > button {
    bottom: 1px;
    height: 30px;
  }
}
